/* Author: Dylan Parson
   Purpose: Calculator web app */
:root{
    --button-margin: 0.3em;
    --button-radius: 5px;
    --number-color: rgb(2, 93, 129);
    --operator-button: rgb(240, 129, 3);
}

body{
    background-color: rgb(9, 26, 102);
}
h1{
    margin: auto;
    text-align: center;
    color: rgb(255, 255, 255);
}

.calculator{
    background-color:rgb(63, 53, 53);
    width: 30%;
    height: 450px;
    padding: 0.5em;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    margin: auto;

}
@media only screen and (max-width: 600px) {
    .calculator{
        width: 90%;
    }
}
.display{
    text-align: right;
    border: black;
    border-style: solid;
    flex: 0 1 auto;
    font-size: 2rem;
    padding: 0.4em;
    border-radius: var(--button-radius);
    background-color: rgb(9, 153, 209);
    overflow-wrap: anywhere;
}
.buttons{
    height:100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "clear clear backspace divide"
        "seven eight nine multiply"
        "four five six minus"
        "one two three plus"
        "zer zer decimal equal";
}
.backspace{
    grid-area: backspace;
    background-color: rgb(255,255,255);
    color: black;
    margin: var(--button-margin);
    box-shadow: 2px 2px;
}
.backspace:hover{
    transform: scale(1.1);
}
.decimal{
    background-color: var(--number-color);
    color: black;
    box-shadow: 2px 2px;
}
.decimal:hover{
    transform: scale(1.1);
}
.equal{
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 2px 2px;
}
.equal:hover{
    transform: scale(1.1);
}
.clear{
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 2px 2px;
}
.clear:hover{
    transform: scale(1.05);
}
.operator{
    background-color: var(--operator-button);
    color: black;
    box-shadow: 2px 2px;
}
.operator:hover{
    transform: scale(1.1);
}

.number{
    background-color: var(--number-color);
    box-shadow: 2px 2px;
    color: black;
}
.number:hover{
    transform: scale(1.1);
}
#decimal {
    grid-area: decimal;
    margin: var(--button-margin);
    border-radius: var(--button-radius);
}
#clear{
    grid-area: clear;
    margin: var(--button-margin);
    border-radius: var(--button-radius);
    
}
#divide{
    grid-area: divide;
    margin: var(--button-margin);
    border-radius: var(--button-radius);
}
#seven{
    grid-area: seven;
    margin: var(--button-margin);
    border-radius: var(--button-radius);
}
#eight{
    grid-area: eight;
    margin: var(--button-margin);
    border-radius: var(--button-radius);
}
#nine{
    grid-area: nine;
    margin: var(--button-margin);
    border-radius: var(--button-radius);
}
#multiply{
    grid-area: multiply;
    margin: var(--button-margin);
    border-radius: var(--button-radius);
}
#four{
    grid-area: four;
    margin: var(--button-margin);
    border-radius: var(--button-radius);
}
#five{
    grid-area: five;
    margin: var(--button-margin);
    border-radius: var(--button-radius);
}
#six{
    grid-area: six;
    margin: var(--button-margin);
    border-radius: var(--button-radius);
}
#minus{
    grid-area: minus;
    margin: var(--button-margin);
    border-radius: var(--button-radius);
}
#one{
    grid-area: one;
    margin: var(--button-margin);
    border-radius: var(--button-radius);
}
#two{
    grid-area: two;
    margin: var(--button-margin);
    border-radius: var(--button-radius);
}
#three{
    grid-area: three;
    margin: var(--button-margin);
    border-radius: var(--button-radius);
}
#plus{
    grid-area: plus;
    margin: var(--button-margin);
    border-radius: var(--button-radius);
}
#zero{
    grid-area: zer;
    margin: var(--button-margin);
    border-radius: var(--button-radius);
}
#equal{
    grid-area: equal;
    margin: var(--button-margin);
    border-radius: var(--button-radius);
}